{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ ticket.title }}</h1>
    {{ ticket.content }}

    <br><a href="edit/{{ ticket.id }}">edit</a>

    <h2>message</h2>

    {% for message in messages %}
        {% if message.ticketAssign.id == ticket.id %}
            <h3>{{ message.content }}</h3>
            by {{ message.messageAuthor.username }}
        {% endif %}
    {% endfor %}
    <br><br>
    {{ form_start(form) }}
    {{ form_row(form.content) }}

    <button type="submit">Create</button>
    {{ form_end(form) }}

    <br>
    {{ form_start(formAssign) }}
    <button type="submit">assign</button>
    {{ form_end(formAssign) }}

{% endblock %}